@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  background-color: #f1f5f9;
}

html,
body {
  height: 100%;
}